src/main/webapp/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="comparedIndex" type="comparedIndex"/>

  <xs:complexType name="comparedIndex">
    <xs:sequence>
      <xs:element name="from" type="xs:string" minOccurs="0"/>
      <xs:element name="to" type="xs:string" minOccurs="0"/>
      <xs:element name="rate" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="conversionDTO">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>

